@import "tailwindcss";

* {
  box-sizing: border-box !important;
  overflow: visible;
  overflow-x: hidden;
  overflow-y: auto;
}

:root {
  --secondary-color: #d62410;
  /* #eb2711 */
  --background-color: #eeeeeea6;
  --dev-color: #fd9319;
  --mod-color: #00df00;
  --staff-color: #00AAAA;
  --staff-color-l: #06f7f7;
  --mrs-tango-color: #FF55FF;
  --mrs-tango-shadow: #b41fb9;
  --tango-color: #e60f0f;
  --tango-shadow: #7d1212;
  --accent-color: #eeeeee;
  --approved-color: oklch(0.723 0.219 149.579);
  --partial-color: oklch(0.828 0.189 84.429);
  --rejected-color: oklch(0.577 0.245 27.325);
  --outdated-color: oklch(0.278 0.033 256.848);
  --event-halloween-color: oklch(0.72 0.1556 70.94);
  --halloween-banner: oklch(0.56 0.111 70.94);
  --event-christmas-color: oklch(0.89 0.111 206.17);
  --christmas-banner: oklch(0.65 0.1011 206.17);
  --event-valentines-color: oklch(0.65 0.2481 10.68);
  --valentines-banner: oklch(0.53 0.1801 10.68);
  --event-patrick-color: oklch(0.68 0.191 146.11);
  --patrick-banner: oklch(0.6 0.191 139.77);
  --event-easter-color: oklch(0.9 0.0482 325.97);
  --easter-banner: oklch(0.68 0.1677 327.79);
  --event-birthday-color: oklch(0.57 0.2317 27.77);
  --birthday-banner: var(--tango-color);
  --event-anniversary-color: oklch(0.747 0.2086 319.41);
  --anniversary-banner: oklch(0.49 0.2317 322.61);
  --event-summer-solstice-color: oklch(0.9 0.1263 89.73);
  --summer-solstice-banner: oklch(0.74 0.1263 42.88);
  --red-banner: #b93131;
  --orange-banner: #ea763f;
  --yellow-banner: #ffd952;
  --green-banner: #7ecc1f;
  --blue-banner: #2c3edf;
  --purple-banner: #6325d4;
  --pink-banner: #e476f5;
  --brown-banner: #754d34;
  --info-banner: #076BD9;
  --tip-banner: #1A7F34;
  --important-banner: #8353DE;
  --white-banner: #e0e0e0;
  --grey-banner: #868686;
  --black-banner: #1c1f2b;
  --header-height: 50px;
  --header-border-weight: 5px;
  --border-style: solid;
  --text-font: Poppins, sans-serif !important;
}

body {
  background-color: #232033;
}

.page-title {
  font-family: var(--text-font);
  color: var(--primary-color);
  text-shadow: 0 0 15px #f0f0f0;
  font-weight: 700 !important;
}

.ttek-logo {
  display: block !important;
  max-height: 3rem;
  aspect-ratio: 1/1;
}

#page-wrapper {
  width: 100vw;
  max-width: 100%;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

#background {
  position: fixed;
  top: -1em;
  left: -1em;
  z-index: -2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 105%;
  height: 105%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
  overflow: visible;
}

#app.app-hidden {
  transition: all 0.5s;
  opacity: 0.1;
}

#app-btn {
  position: fixed;
  bottom: 50px;
  right: 0;
  font-size: 0.6rem;
  margin: 10px;
  background: #ffffff80;
  font-family: var(--text-font);
  text-shadow: 0 0 4px #000;
  width: 50px;
  height: 50px;

  &:hover {
    cursor: pointer;
  }
}

#titan-attribution {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 0.6rem;
  margin: 10px 20px;
  color: #fff;
  font-family: var(--text-font);
  text-shadow: 0 0 4px #000;
  max-width: 133px;
  text-wrap: wrap;
  direction: rtl;
  cursor: pointer;
}

#copyright {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 0.6rem;
  margin: 10px 15px;
  color: #fff;
  font-family: var(--text-font);
  text-shadow: 0 0 4px #000;
}

#pinned {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 0.6rem;
  margin-top: 10px;
  padding-inline: 15px;
  color: #fff;
  font-family: var(--text-font);
  text-shadow: 0 0 4px #000;
}

.icon {
  display: inline !important;
}

.navbar {
  z-index: 10000;
}

.text-shadow {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.text {
  font-family: var(--text-font);
}

.text-secondary {
  color: var(--secondary-color);
}

.link {
  color: var(--secondary-color);

  &:hover {
    text-decoration: underline;
  }
}

ul li a:hover {
  text-decoration: underline;
}

.dev {
  color: var(--dev-color);
  text-shadow: 0 0 4px #8b4a0c;
}

.mod {
  color: var(--mod-color);
  text-shadow: 0px 0px 4px #054612;
}

.staff {
  color: var(--staff-color-l);
  text-shadow: 0px 0px 4px #0c3d41;
}

.tango {
  color: var(--tango-color);
  text-shadow: 0 0 4px var(--tango-shadow);
}

.mrsTango {
  color: var(--mrs-tango-color);
  text-shadow: 0 0 4px var(--mrs-tango-shadow);
}

.approved {
  background-color: var(--approved-color);
}

.partiallyapproved {
  background-color: var(--partial-color);
}

.rejected {
  background-color: var(--rejected-color);
}

.outdated {
  background-color: var(--outdated-color);
}

.halloween {
  color: var(--event-halloween-color);
  text-shadow: 0 0 4px var(--halloween-banner);
}

.christmas {
  color: var(--event-christmas-color);
  text-shadow: 0 0 4px var(--christmas-banner);
}

.valentines {
  color: var(--event-valentines-color);
  text-shadow: 0 0 4px var(--valentines-banner);
}

.patrick {
  color: var(--event-patrick-color);
  text-shadow: 0 0 4px var(--patrick-banner);
}

.easter {
  color: var(--event-easter-color);
  text-shadow: 0 0 4px var(--easter-banner);
}

.birthday {
  color: var(--event-birthday-color);
  text-shadow: 0 0 4px var(--birthday-banner);
}

.anniversary {
  color: var(--event-anniversary-color);
  text-shadow: 0 0 4px var(--anniversary-banner);
}

.summer-solstice {
  color: var(--event-summer-solstice-color);
  text-shadow: 0 0 4px var(--summer-solstice-banner);
}

.selected-status {
  box-shadow: inset 0 0 10px rgb(85, 85, 85);
}

.sidebar-link {
  padding-block: 0.5rem;

  &:active {
    background-color: var(--tango-color);
  }
}

.rainbow {
  animation: rainbow 10s infinite;
}

@keyframes rainbow {
  0% {
    color: #eb001b;
  }

  14.29% {
    color: #f79e1b
  }

  28.57% {
    color: #f7f114
  }

  42.86% {
    color: #33f714
  }

  57.14% {
    color: #14f7ed
  }

  71.43% {
    color: #1420f7
  }

  85.71% {
    color: #b414f7
  }

  100% {
    color: #eb001b
  }
}